First Class of SQL

In [0]:
%sql 
CREATE TABLE customers (
    customer_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
%sql
INSERT INTO customers VALUES
(1, 'John', 'Doe', 'Delhi', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Bangalore', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Hyderabad', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Pune', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Chennai', 'sara.ali@example.com'),
(7, 'Vikram', 'Singh', 'Delhi', 'vikram.singh@example.com'),
(8, 'Neha', 'Patel', 'Mumbai', 'neha.patel@example.com'),
(9, 'David', 'Lee', 'Kolkata', 'david.lee@example.com'),
(10, 'Amit', 'Verma', 'Jaipur', 'amit.verma@example.com'),
(11, 'Emily', 'Clark', 'Delhi', 'emily.clark@example.com'),
(12, 'Ananya', 'Roy', 'Mumbai', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Pune', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Hyderabad', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Chennai', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'Bangalore', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Mumbai', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Kolkata', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Pune', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Hyderabad', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'Chennai', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Mumbai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Pune', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Bangalore', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Kolkata', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Delhi', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Chennai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Mumbai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'Delhi', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Bangalore', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Kolkata', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Pune', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Chennai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Hyderabad', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Delhi', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'Mumbai', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Kolkata', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Pune', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Hyderabad', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Chennai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Delhi', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Mumbai', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'Pune', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Hyderabad', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Chennai', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Bangalore', 'aria.gill@example.com');

In [0]:
%sql 
select * from default.customers