In [0]:
%sql
DESCRIBE customers;

In [0]:
%sql
CREATE TABLE orders(
    order_id INT,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10,2)
);

In [0]:
%sql
CREATE TABLE order_details(
  order_detail_id INT,
  order_id INT,
  customer_id INT,
  product_id INT,
  product_name VARCHAR(100),
  category VARCHAR(50),
  quantity INT,
  price_each DECIMAL(10,2),
  order_date DATE
);

In [0]:
%sql
SELECT * FROM customers;

In [0]:
%sql
INSERT INTO orders VALUES
(1001, 1, '2023-01-10', 1500.00),
(1002, 2, '2023-01-11', 2500.00),
(1003, 3, '2023-01-15', 500.00),
(1004, 1, '2023-02-01', 750.00),
(1005, 4, '2023-02-05', 2000.00),
(1006, 5, '2023-02-08', 1800.00),
(1007, 6, '2023-03-01', 2200.00),
(1008, 7, '2023-03-05', 3000.00),
(1009, 8, '2023-03-09', 1200.00),
(1010, 9, '2023-03-10', 900.00),
(1011, 10, '2023-03-12', 1900.00),
(1012, 11, '2023-03-15', 1500.00),
(1013, 12, '2023-03-18', 2400.00),
(1014, 13, '2023-03-20', 600.00),
(1015, 14, '2023-03-22', 3000.00),
(1016, 15, '2023-03-25', 2800.00),
(1017, 16, '2023-03-28', 3200.00),
(1018, 17, '2023-03-30', 500.00),
(1019, 18, '2023-04-01', 950.00),
(1020, 19, '2023-04-03', 1750.00),
(1021, 20, '2023-04-05', 2100.00),
(1022, 21, '2023-04-08', 1200.00),
(1023, 22, '2023-04-10', 1400.00),
(1024, 23, '2023-04-12', 800.00),
(1025, 24, '2023-04-14', 3300.00),
(1026, 25, '2023-04-16', 2400.00),
(1027, 26, '2023-04-18', 1800.00),
(1028, 27, '2023-04-20', 2000.00),
(1029, 28, '2023-04-22', 2200.00),
(1030, 29, '2023-04-24', 1950.00),
(1031, 30, '2023-04-26', 2600.00),
(1032, 31, '2023-04-28', 1550.00),
(1033, 32, '2023-05-01', 2700.00),
(1034, 33, '2023-05-03', 1000.00),
(1035, 34, '2023-05-05', 1900.00),
(1036, 35, '2023-05-07', 2100.00),
(1037, 36, '2023-05-09', 1100.00),
(1038, 37, '2023-05-11', 1250.00),
(1039, 38, '2023-05-13', 1850.00),
(1040, 39, '2023-05-15', 1400.00),
(1041, 40, '2023-05-17', 1750.00),
(1042, 41, '2023-05-19', 900.00),
(1043, 42, '2023-05-21', 2500.00),
(1044, 43, '2023-05-23', 3000.00),
(1045, 44, '2023-05-25', 2100.00),
(1046, 45, '2023-05-27', 2600.00),
(1047, 46, '2023-05-29', 2700.00),
(1048, 47, '2023-05-31', 2800.00),
(1049, 48, '2023-06-02', 1500.00),
(1050, 49, '2023-06-04', 1200.00),
(1051, 50, '2023-06-06', 800.00),
(1052, 1, '2023-06-08', 2000.00),
(1053, 2, '2023-06-10', 2300.00),
(1054, 3, '2023-06-12', 1400.00),
(1055, 4, '2023-06-14', 1750.00),
(1056, 5, '2023-06-16', 2600.00),
(1057, 6, '2023-06-18', 2100.00),
(1058, 7, '2023-06-20', 900.00),
(1059, 8, '2023-06-22', 3000.00),
(1060, 9, '2023-06-24', 1200.00),
(1061, 10, '2023-06-26', 1850.00),
(1062, 11, '2023-06-28', 1750.00),
(1063, 12, '2023-06-30', 1600.00),
(1064, 13, '2023-07-02', 950.00),
(1065, 14, '2023-07-04', 2100.00),
(1066, 15, '2023-07-06', 2500.00),
(1067, 16, '2023-07-08', 3000.00),
(1068, 17, '2023-07-10', 2700.00),
(1069, 18, '2023-07-12', 1500.00),
(1070, 19, '2023-07-14', 1400.00);

In [0]:
%sql
INSERT INTO order_details VALUES
(1, 1001, 1, 201, 'Laptop', 'Electronics', 1, 50000.00, '2023-01-10'),
(2, 1001, 1, 203, 'Headphones', 'Accessories', 2, 2000.00, '2023-01-10'),
(3, 1002, 2, 202, 'Smartphone', 'Electronics', 1, 30000.00, '2023-01-11'),
(4, 1003, 3, 205, 'Water Bottle', 'Kitchen', 3, 500.00, '2023-01-15'),
(5, 1004, 1, 208, 'Bluetooth Speaker', 'Electronics', 1, 3500.00, '2023-02-01'),
(6, 1005, 4, 204, 'Desk Chair', 'Furniture', 1, 4000.00, '2023-02-05'),
(7, 1006, 5, 207, 'Office Desk', 'Furniture', 1, 7000.00, '2023-02-08'),
(8, 1007, 6, 211, 'Tablet', 'Electronics', 2, 25000.00, '2023-03-01'),
(9, 1008, 7, 215, 'Gaming Chair', 'Furniture', 1, 15000.00, '2023-03-05'),
(10, 1009, 8, 209, 'Notebook', 'Stationery', 5, 200.00, '2023-03-09');

In [0]:
%sql
--List all the customer orders with product details 
--INNER JOIN
select c.first_name, c.last_name, o.order_id, o.product_name, o.quantity

from customers as c inner join order_details as o
on c.customer_id = o.customer_id;

In [0]:
%sql
--Full Breakdown : customers,order, product_info

select od.order_id, c.first_name, od.product_name, od.quantity, od.price_each

from order_details as od 
inner join orders as o on od.order_id = o.order_id
inner join customers as c on o.customer_id = c.customer_id;

In [0]:
%sql
--show inactive and active customers 

select c.first_name, c.last_name, o.order_id, o.order_date
from customers as c 
left join orders as o on c.customer_id = o.customer_id
sort by o.order_date desc;

In [0]:
%sql
--Identify the Customers who has not placed any order and followup with them

select c.first_name, c.last_name
from customers as c 
left join orders as o on c.customer_id = o.customer_id
where o.order_id is null;

In [0]:
%sql
-- Only shows customers who HAVE orders.

select c.first_name, c.last_name, o.order_id, o.order_date
from customers as c
inner join orders as o 
on c.customer_id = o.customer_id
where order_id is not null;

In [0]:
%sql
-- ✅ Shows ALL customers, whether or not they have orders.

select c.first_name, c.last_name, o.order_id, o.order_date
from customers as c
left join orders as o 
on c.customer_id = o.customer_id;

In [0]:
%sql
select c.first_name, c.last_name, o.order_id, o.order_date
from orders as o
right join customers as c
on o.customer_id = c.customer_id;

In [0]:
%sql
DESCRIBE employees;

In [0]:
%sql
CREATE TABLE emp(
  emp_id INT,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  manager_id INT,
  department VARCHAR(50)
);

In [0]:
%sql
INSERT INTO emp VALUES
(1, 'Alice', 'Johnson', NULL, 'Management'),
(2, 'Bob', 'Smith', 1, 'Sales'),
(3, 'Carol', 'Taylor', 1, 'Sales'),
(4, 'David', 'Brown', 2, 'Sales'),
(5, 'Eva', 'Davis', 2, 'Sales'),
(6, 'Frank', 'Miller', 1, 'Engineering'),
(7, 'Grace', 'Wilson', 6, 'Engineering'),
(8, 'Henry', 'Moore', 6, 'Engineering'),
(9, 'Ivy', 'Clark', 3, 'Sales'),
(10, 'Jack', 'Hall', 3, 'Sales');

In [0]:
%sql
-- Employee + Their Manager

select distinct e1.first_name as employee, e2.first_name as manager, e1.department
from emp as e1
left join emp as e2
on e1.manager_id = e2.emp_id;

In [0]:
%sql
--Find Direct Reporting Managers counts

SELECT e2.first_name as manager, COUNT(e1.emp_id) as team_size
FROM emp e1
LEFT JOIN emp e2
ON e1.manager_id = e2.emp_id
GROUP BY e2.first_name;

In [0]:
%sql
--  Full audit of customers + orders (matched or not).

SELECT c.first_name, c.last_name, o.order_id, od.product_name
FROM customers c
FULL OUTER JOIN orders o ON c.customer_id = o.customer_id
FULL OUTER JOIN order_details od ON o.order_id = od.order_id;

In [0]:
%sql
-- Get list of all unique customer cities + unique product categories.

select distinct city from customers
union
select distinct category from order_details;

In [0]:
%sql
-- Get list of all unique customer cities + unique product categories.(WITH DUPLICATES)

select distinct city from customers
union all
select distinct category from order_details;

In [0]:
%sql
-- Top 3 Customers by Spend

select c.first_name, c.last_name, SUM(od.quantity * od.price_each) as total_spent
from customers c
inner join orders o on c.customer_id = o.customer_id
inner join order_details od on o.order_id = od.order_id
group by c.customer_id, c.first_name, c.last_name
order by total_spent desc
limit 3;